.map {
        min-height: 100%; 
        width: 100%;
}
html, body {
    		height: 100%;
    		margin: 0;
}      	
nav {
    position: fixed;
    top:0px;
    z-index:9999;
}        
#centered {
    padding-left: 50%;
}